# dependencies
/node_modules

# Next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example

# Vercel
.vercel

# misc
.DS_Store
*.pem
*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts
